@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

html, body {
  font-size: 10px; }

a {
  transition: all 0.3s ease 0s; }

.wrapper {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2;
  min-height: 100%;
  color: #000;
  overflow: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  padding: 0 10px; }

._container {
  max-width: 1026px;
  margin: 0 auto; }

.header .header__body {
  display: flex;
  text-transform: uppercase;
  padding: 26px 0 22px 0; }
  .header .header__body .header__logo {
    flex: 1 1 33%; }
    .header .header__body .header__logo img {
      display: inline-flex;
      padding-right: 20px; }
  .header .header__body .header__menu {
    flex: 1 1 67%; }
    .header .header__body .header__menu .menu_wrap {
      display: flex;
      justify-content: space-between; }
      .header .header__body .header__menu .menu_wrap .menu__list {
        display: flex;
        flex-wrap: wrap; }
      .header .header__body .header__menu .menu_wrap .menu__item {
        padding-right: 25px; }
        .header .header__body .header__menu .menu_wrap .menu__item .menu__link {
          display: inline-flex;
          padding: 16px 0 11px 0;
          opacity: 0.67;
          font-weight: 600;
          color: #666666; }
          .header .header__body .header__menu .menu_wrap .menu__item .menu__link:hover {
            opacity: 1; }
        .header .header__body .header__menu .menu_wrap .menu__item:last-child {
          padding-right: 0; }
      .header .header__body .header__menu .menu_wrap .header__login {
        padding-left: 20px; }
        .header .header__body .header__menu .menu_wrap .header__login a {
          display: inline-flex;
          background-color: #add136;
          border-radius: 25px;
          padding: 13px 30px;
          opacity: 0.81;
          font-weight: 600;
          color: #ffffff; }
          .header .header__body .header__menu .menu_wrap .header__login a:hover {
            background-color: #666666; }

.content {
  flex: 1 1 auto; }
  .content .subHeaderSlider {
    min-height: 570px; }
    .content .subHeaderSlider .swiper-wrapper {
      transition: all 0.5s ease 0s !important; }
    .content .subHeaderSlider .subHeaderSlider__wrap2 {
      background: url("../../img/slider_img1.jpg") no-repeat center/cover; }
    .content .subHeaderSlider .subHeaderSlider__wrap3 {
      background: rgba(0, 0, 0, 0.29) !important; }
      .content .subHeaderSlider .subHeaderSlider__wrap3 ._container {
        padding-right: 10px;
        padding-left: 10px; }
    .content .subHeaderSlider .subHeaderSlider__subWrap {
      padding-top: 155px;
      max-width: 900px;
      text-align: center;
      margin: 0 auto; }
    .content .subHeaderSlider .subHeaderSlider__title {
      font-size: 4.8rem;
      line-height: 6.6rem;
      font-weight: 600;
      color: #ffffff; }
      .content .subHeaderSlider .subHeaderSlider__title span {
        font-size: 3.5rem;
        font-weight: 400; }
    .content .subHeaderSlider .subHeaderSlider__button {
      margin-top: 40px;
      margin-bottom: 20px; }
      .content .subHeaderSlider .subHeaderSlider__button a {
        display: inline-flex;
        border-radius: 10px;
        background-color: #99c50a;
        padding: 25px 40px;
        font-size: 1.9rem;
        font-weight: 600;
        color: #ffffff; }
        .content .subHeaderSlider .subHeaderSlider__button a:hover {
          background-color: #666666; }
    .content .subHeaderSlider .subHeaderSlider__arrows {
      margin: 100px 5px 0 5px;
      padding-bottom: 40px;
      text-align: right; }
      .content .subHeaderSlider .subHeaderSlider__arrows .subHeaderSlider__arrowNext {
        cursor: pointer;
        border: solid #fff;
        border-width: 0 5px 5px 0;
        display: inline-block;
        padding: 6px;
        transform: rotate(-45deg); }
      .content .subHeaderSlider .subHeaderSlider__arrows .subHeaderSlider__arrowPrev {
        margin-right: 22px;
        cursor: pointer;
        border: solid #fff;
        border-width: 0 5px 5px 0;
        display: inline-block;
        padding: 6px;
        transform: rotate(135deg); }
  .content .ourWork {
    margin: 95px auto 150px;
    text-align: center; }
    .content .ourWork .ourWork__img {
      margin-bottom: 40px; }
    .content .ourWork .ourWork__title {
      margin: 0 auto 60px;
      max-width: 510px;
      font-size: 3.1rem;
      line-height: 5rem;
      font-weight: 600;
      text-transform: uppercase;
      color: #515151; }
    .content .ourWork .ourWork__text {
      opacity: 0.7;
      font-size: 1.9rem;
      color: #515151;
      margin-bottom: 45px; }

.ourTab {
  margin: 0 auto 110px; }
  .ourTab .ourTab__linksWrap {
    padding-bottom: 60px;
    display: flex;
    border-bottom: 1px solid #e6e6e6; }
  .ourTab .ourTab__link {
    flex: 0 1 33.333%;
    font-size: 3.3rem;
    font-weight: 300;
    color: #656565; }
    .ourTab .ourTab__link .ourTab__num {
      align-items: flex-end;
      display: inline-flex;
      background-color: #5f5f5f;
      font-size: 2rem;
      font-weight: 600;
      color: #ffffff;
      width: 38px;
      height: 38px;
      border-radius: 50%;
      padding-left: 13.5px;
      padding-bottom: 6px;
      position: relative;
      bottom: 5px; }
    .ourTab .ourTab__link .ourTab__linkText {
      padding-left: 25px;
      display: inline-flex; }
    .ourTab .ourTab__link:hover .ourTab__num {
      transition: 0.3s ease 0s;
      background-color: #add136; }
  .ourTab .ourTab__tabWrap {
    margin-top: 64px;
    display: flex; }
  .ourTab .ourTab__el1 {
    flex: 0 1 25%;
    text-align: center; }
  .ourTab .ourTab__el2 {
    flex: 0 1 75%;
    padding-left: 30px; }
  .ourTab .ourTab__title {
    font-size: 2.5rem;
    color: #add136;
    margin-bottom: 30px; }
  .ourTab .ourTab__text {
    opacity: 0.67;
    font-size: 1.7rem;
    color: #606060; }

.find .find__body {
  display: flex;
  margin-bottom: 75px; }

.find .find__wrap1 {
  flex: 0 1 50%;
  background: #e2f8ff;
  display: flex; }
  .find .find__wrap1 .find__button a {
    background-color: #26a6d1; }

.find .find__wrap2 {
  flex: 0 1 50%;
  background: #f5f9eb;
  display: flex; }
  .find .find__wrap2 .find__button a {
    background-color: #add136; }

.find .find__el1 {
  flex: 0 1 40%;
  min-height: 300px; }
  .find .find__el1 .find__img {
    padding: 84px 15px 0;
    text-align: center; }
    .find .find__el1 .find__img img {
      padding-bottom: 122px;
      max-width: 100%; }

.find .find__el2 {
  flex: 0 1 60%;
  color: #515151;
  display: flex;
  flex-direction: column; }

.find .find__title {
  font-family: Montserrat, sans-serif;
  font-size: 2.1rem;
  font-weight: 600;
  margin: 46px 0 16px 0; }

.find .find__text {
  flex: 1 0 auto;
  font-size: 1.7rem;
  line-height: 3rem;
  margin-bottom: 31px; }

.find .find__button {
  padding-bottom: 45px; }
  .find .find__button a {
    display: inline-flex;
    padding: 19px 25px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
    border-radius: 10px; }
    .find .find__button a:hover {
      background-color: #666666; }

.featuredProjects .featuredProjects__header {
  display: flex;
  padding: 0 15px; }

.featuredProjects .featuredProjects__titleWrap {
  flex: 0 1 70%; }

.featuredProjects .featuredProjects__buttonWrap {
  flex: 0 1 30%; }

.featuredProjects .featuredProjects__title {
  font-size: 2.9rem;
  font-weight: 600;
  color: #515151;
  padding-bottom: 25px; }

.featuredProjects .featuredProjects__text {
  font-size: 1.7rem;
  line-height: 2.8rem;
  color: #8f8f8f;
  padding-bottom: 65px; }

.featuredProjects .featuredProjects__button {
  text-align: right;
  padding: 30px 0 0 0; }
  .featuredProjects .featuredProjects__button a {
    display: inline-flex;
    background-color: #ffffff;
    border: 1px solid rgba(81, 81, 81, 0.4);
    border-radius: 10px;
    padding: 20px 25px;
    color: rgba(81, 81, 81, 0.7);
    font-weight: 600;
    font-size: 1.5rem; }
    .featuredProjects .featuredProjects__button a:hover {
      background: #515151;
      color: #fff; }

.footer {
  border-top: 1px solid #ededed; }
  .footer .footer__body {
    min-height: 64px; }
    .footer .footer__body .footer__copyright {
      color: #848484;
      padding: 27px 10px 25px;
      text-align: center; }
