@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@300;400;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

html, body {
  font-size: 10px; }

body._lock {
  overflow: hidden; }

a {
  transition: all 0.3s ease 0s; }

.wrapper {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2;
  min-height: 100%;
  color: #000;
  overflow: hidden;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column; }

._container {
  max-width: 1026px;
  margin: 0 auto; }

._pos {
  position: relative; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background: #fff;
  min-height: 90px; }
  .header .header__body {
    display: flex;
    text-transform: uppercase;
    padding: 26px 15px 22px; }
  .header .header__logo {
    flex: 0 1 33%;
    padding-right: 20px; }
    .header .header__logo img {
      max-width: 211px;
      max-height: 36px; }
  .header .header__menu {
    flex: 0 1 55%;
    display: flex; }
  .header .menu__icon {
    display: none; }
  .header .menu__list {
    display: flex;
    flex-wrap: wrap; }
  .header .menu__item {
    padding-right: 25px; }
    .header .menu__item:last-child {
      padding-right: 0; }
  .header .menu__link {
    display: inline-flex;
    padding: 16px 0 11px 0;
    opacity: 0.67;
    font-weight: 600;
    color: #666666; }
    .header .menu__link:hover {
      opacity: 1; }
  .header .header__login {
    flex: 0 1 12%;
    padding-left: 15px; }
    .header .header__login a {
      display: inline-flex;
      background-color: #add136;
      border-radius: 25px;
      padding: 13px 30px;
      opacity: 0.81;
      font-weight: 600;
      color: #ffffff; }
      .header .header__login a:hover {
        background-color: #666666; }

@media (max-width: 992px) {
  .header .header__body {
    justify-content: space-between; }
  .header .header__logo {
    flex-basis: auto;
    z-index: 103;
    order: 2;
    padding-right: 0;
    position: relative; }
    .header .header__logo img {
      position: relative;
      top: 50%;
      padding: 0;
      transform: translate(0px, -50%); }
  .header .header__menu {
    flex: 0 1 11%;
    order: 1; }
  .header .menu__icon {
    margin-top: 13px;
    position: relative;
    z-index: 103;
    display: block;
    width: 30px;
    height: 18px;
    cursor: pointer; }
    .header .menu__icon span, .header .menu__icon::before, .header .menu__icon::after {
      position: absolute;
      left: 0;
      height: 20%;
      width: 100%;
      transition: 0.3s ease 0s;
      background: #666666; }
    .header .menu__icon span {
      top: 50%;
      transform: scale(1) translate(0px, -50%); }
    .header .menu__icon::before {
      content: "";
      top: 0; }
    .header .menu__icon::after {
      content: "";
      bottom: 0; }
    .header .menu__icon._menuActive span {
      transform: scale(0) translate(0px, -50%); }
    .header .menu__icon._menuActive::before {
      top: 6px;
      transform: rotate(-45deg); }
    .header .menu__icon._menuActive::after {
      bottom: 8px;
      transform: rotate(45deg); }
  .header .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    z-index: 101;
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto; }
    .header .menu__body::before {
      content: "";
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      height: 91px;
      background: #fff;
      z-index: 102; }
    .header .menu__body._menuActive {
      left: 0; }
  .header .menu__list {
    display: block;
    text-align: center; }
  .header .menu__item {
    padding-right: 0;
    margin: 0 0 30px 0; }
    .header .menu__item:first-child {
      margin-top: 30px; }
    .header .menu__item:last-child {
      margin-bottom: 0; }
  .header .menu__link {
    padding: 0;
    font-size: 2.4rem;
    opacity: 1; }
  .header .header__login {
    flex-basis: auto;
    z-index: 103;
    order: 3;
    padding: 0; } }

@media (max-width: 480px) {
  .header .header__logo img {
    max-width: 120px; }
  .header .header__login a {
    padding: 13px 20px;
    font-size: 1.2rem; } }

.content {
  flex: 1 1 auto; }
  .content .subHeaderSlider {
    position: relative;
    margin-top: 91px; }
    .content .subHeaderSlider .swiper-wrapper {
      transition: all 0.5s ease 0s !important; }
    .content .subHeaderSlider .subHeaderSlider__arrows {
      position: relative; }
    .content .subHeaderSlider .arrows__body {
      position: absolute;
      right: 20px;
      bottom: 48px;
      z-index: 10; }
      .content .subHeaderSlider .arrows__body .arrowNext {
        cursor: pointer;
        border: solid #fff;
        border-width: 0 5px 5px 0;
        display: inline-block;
        padding: 6px;
        transform: rotate(-45deg); }
      .content .subHeaderSlider .arrows__body .arrowPrev {
        margin-right: 20px;
        cursor: pointer;
        border: solid #fff;
        border-width: 0 5px 5px 0;
        display: inline-block;
        padding: 6px;
        transform: rotate(135deg); }
    .content .subHeaderSlider .subHeaderSlider__bg {
      background: no-repeat center/cover;
      min-height: 570px;
      position: relative; }
      .content .subHeaderSlider .subHeaderSlider__bg::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.29); }
      .content .subHeaderSlider .subHeaderSlider__bg ._container {
        position: relative;
        padding: 0 15px;
        z-index: 10;
        max-width: 900px; }
    .content .subHeaderSlider .subHeaderSlider__subWrap {
      padding-top: 155px;
      padding-bottom: 145px;
      text-align: center; }
    .content .subHeaderSlider .subHeaderSlider__title {
      font-size: 4.7rem;
      line-height: 137.5%;
      font-weight: 600;
      color: #ffffff; }
      .content .subHeaderSlider .subHeaderSlider__title span {
        font-size: 3.5rem;
        font-weight: 400; }
    .content .subHeaderSlider .subHeaderSlider__button {
      margin-top: 40px;
      margin-bottom: 20px; }
      .content .subHeaderSlider .subHeaderSlider__button a {
        display: inline-flex;
        border-radius: 10px;
        background-color: #99c50a;
        padding: 25px 40px;
        font-size: 1.9rem;
        font-weight: 600;
        color: #ffffff; }
        .content .subHeaderSlider .subHeaderSlider__button a:hover {
          background-color: #666666; }
  @media (max-width: 992px) {
    .content .subHeaderSlider .subHeaderSlider__title {
      font-size: 4rem; }
      .content .subHeaderSlider .subHeaderSlider__title span {
        font-size: 3rem; } }
  @media (max-width: 767px) {
    .content .subHeaderSlider .subHeaderSlider__title {
      font-size: 3.5rem; }
      .content .subHeaderSlider .subHeaderSlider__title span {
        font-size: 2.5rem; }
    .content .subHeaderSlider .subHeaderSlider__button a {
      padding: 20px 30px;
      font-size: 1.7rem; } }
  @media (max-width: 480px) {
    .content .subHeaderSlider .subHeaderSlider__title {
      font-size: 3.2rem; }
      .content .subHeaderSlider .subHeaderSlider__title span {
        font-size: 2.2rem; } }
  .content .ourWork {
    margin: 95px auto 150px;
    text-align: center; }
    .content .ourWork._container {
      padding: 0 15px; }
    .content .ourWork .ourWork__img {
      margin-bottom: 40px; }
      .content .ourWork .ourWork__img img {
        max-width: 58px;
        min-height: 58px; }
    .content .ourWork .ourWork__title {
      margin: 0 auto 60px;
      max-width: 510px;
      font-size: 3.1rem;
      line-height: 5rem;
      font-weight: 600;
      text-transform: uppercase;
      color: #515151; }
    .content .ourWork .ourWork__text {
      opacity: 0.7;
      font-size: 1.9rem;
      color: #515151;
      margin-bottom: 45px; }
  @media (max-width: 767px) {
    .content .ourWork {
      margin: 80px auto 80px; }
      .content .ourWork .ourWork__img {
        margin-bottom: 25px; }
      .content .ourWork .ourWork__title {
        font-size: 2.9rem;
        margin-bottom: 35px; }
      .content .ourWork .ourWork__text {
        font-size: 1.7rem;
        margin-bottom: 25px; } }
  .content .tabs {
    margin: 0 auto 110px; }
    .content .tabs .tabs__triggers {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      padding: 0 15px; }
    .content .tabs .tabs__itemWrap {
      flex: 0 1 33.333%;
      display: flex; }
      .content .tabs .tabs__itemWrap:nth-of-type(3n+3) .tabs__width {
        justify-content: right; }
    .content .tabs .tabs__width {
      flex-basis: 100%;
      display: flex;
      border-bottom: 1px solid #e6e6e6;
      margin-bottom: 35px; }
    .content .tabs .tabs__triggers-item {
      display: flex;
      margin-bottom: -1px;
      padding-right: 25px;
      padding-bottom: 35px; }
      .content .tabs .tabs__triggers-item:active, .content .tabs .tabs__triggers-item:visited {
        color: #656565; }
    .content .tabs .tabs__numWrap {
      text-align: center; }
    .content .tabs .tabs__num {
      background-color: #5f5f5f;
      font-weight: 600;
      color: #ffffff;
      padding: 9.5px 16px;
      border-radius: 50%;
      position: relative;
      top: 6px;
      font-size: 2rem; }
    .content .tabs .tabs__triggers-text {
      padding-left: 25px;
      font-size: 3.3rem;
      font-weight: 300;
      color: #656565; }
    .content .tabs .tabs__triggers-item_active {
      border-bottom: 1px solid #add136 !important; }
      .content .tabs .tabs__triggers-item_active .tabs__num {
        transition: 0.3s ease 0s;
        background-color: #add136; }
    .content .tabs .tabs__content {
      padding: 0 15px; }
    .content .tabs .tabs__content-item {
      margin-top: 64px;
      display: none; }
    .content .tabs .tabs__content-item_active {
      display: flex; }
    .content .tabs .tabs__el1 {
      flex: 0 1 25%;
      text-align: center;
      padding-top: 30px; }
      .content .tabs .tabs__el1 .tabs__img {
        max-width: 113px;
        min-height: 102px;
        object-fit: cover; }
    .content .tabs .tabs__el2 {
      flex: 0 1 75%;
      padding-left: 20px; }
    .content .tabs .tabs__title {
      font-size: 2.5rem;
      color: #add136;
      margin-bottom: 20px;
      line-height: 1.4; }
    .content .tabs .tabs__text {
      opacity: 0.67;
      font-size: 1.7rem;
      color: #606060;
      line-height: 1.6; }
  @media (max-width: 992px) {
    .content .tabs {
      margin-bottom: 84px; }
      .content .tabs .tabs__itemWrap:nth-of-type(3n+2) .tabs__width {
        justify-content: center; }
      .content .tabs .tabs__width {
        margin-bottom: 0; }
      .content .tabs .tabs__triggers-item {
        padding-bottom: 25px; }
      .content .tabs .tabs__triggers-text {
        font-size: 2.1rem; }
      .content .tabs .tabs__num {
        font-size: 1.7rem;
        padding: 4.5px 11px;
        top: 2px; }
      .content .tabs .tabs__triggers-text {
        padding-left: 15px; }
      .content .tabs .tabs__content-item {
        margin-top: 84px; } }
  @media (max-width: 767px) {
    .content .tabs {
      margin-bottom: 64px; }
      .content .tabs .tabs__triggers {
        padding: 0; }
      .content .tabs .tabs__itemWrap {
        flex-basis: 50%;
        border-bottom: none;
        justify-content: left; }
      .content .tabs .tabs__width {
        margin-bottom: 0; }
      .content .tabs .tabs__triggers-item {
        flex: 0 1 100%;
        padding: 15px 15px;
        border-bottom: 1px solid #e6e6e6; }
      .content .tabs .tabs__content-item {
        margin-top: 64px; } }
  @media (max-width: 500px) {
    .content .tabs .tabs__itemWrap {
      flex-basis: 100%; }
    .content .tabs .tabs__content-item {
      margin-top: 50px;
      flex-wrap: wrap;
      justify-content: center; }
    .content .tabs .tabs__el1 {
      flex-basis: 100%;
      padding: 0 0 30px 0; }
    .content .tabs .tabs__el2 {
      flex-basis: 100%;
      padding-left: 0; } }
  .content .find .find__body {
    display: flex;
    margin-bottom: 75px;
    flex-wrap: wrap; }
  .content .find .wrap-custom:nth-of-type(2n+1) {
    justify-content: flex-end; }
  .content .find .wrap-custom:nth-of-type(2n+2) {
    justify-content: flex-start; }
  .content .find .find__wrap1 {
    flex: 0 1 50%;
    background: #e2f8ff;
    display: flex; }
    .content .find .find__wrap1 .find__button a {
      background-color: #26a6d1; }
  .content .find .find__wrap2 {
    flex: 0 1 50%;
    background: #f5f9eb;
    display: flex; }
    .content .find .find__wrap2 .find__button a {
      background-color: #add136; }
  .content .find .find__fixWidth {
    flex: 0 1 513px;
    display: flex;
    padding: 0 15px; }
  .content .find .find__el1 {
    flex: 0 1 40%;
    min-height: 300px; }
    .content .find .find__el1 .find__img {
      padding: 84px 15px 0 0;
      text-align: center; }
      .content .find .find__el1 .find__img img {
        max-width: 133px;
        min-height: 92px; }
  .content .find .find__el2 {
    flex: 0 1 60%;
    color: #515151;
    display: flex;
    flex-direction: column; }
  .content .find .find__title {
    font-family: Montserrat, sans-serif;
    font-size: 2.1rem;
    font-weight: 600;
    margin: 46px 0 16px 0; }
  .content .find .find__text {
    flex: 1 0 auto;
    font-size: 1.7rem;
    line-height: 3rem;
    margin-bottom: 31px; }
  .content .find .find__button {
    padding-bottom: 45px; }
    .content .find .find__button a {
      display: inline-flex;
      padding: 19px 25px;
      font-size: 1.5rem;
      font-weight: 600;
      color: #ffffff;
      border-radius: 10px; }
      .content .find .find__button a:hover {
        background-color: #666666; }
  @media (max-width: 767px) {
    .content .find .find__body {
      margin-bottom: 64px; }
    .content .find .find__wrap1, .content .find .find__wrap2 {
      flex: 0 1 100%; }
    .content .find .find__fixWidth {
      flex: 0 1 100%; } }
  @media (max-width: 480px) {
    .content .find .find__fixWidth {
      padding-top: 40px;
      flex-wrap: wrap; }
    .content .find .find__el1 {
      flex: 0 1 100%;
      min-height: auto; }
      .content .find .find__el1 .find__img {
        padding: 0; }
    .content .find .find__el2 {
      flex: 0 1 100%;
      text-align: center; }
    .content .find .find__title {
      margin-top: 40px; } }
  .content .featuredProjects {
    margin-bottom: -130px; }
    .content .featuredProjects .featuredProjects__header {
      display: flex;
      padding: 0 15px; }
    .content .featuredProjects .featuredProjects__titleWrap {
      flex: 0 1 70%;
      padding-bottom: 65px; }
    .content .featuredProjects .featuredProjects__buttonWrap {
      flex: 0 1 30%; }
    .content .featuredProjects .featuredProjects__title {
      font-size: 2.9rem;
      font-weight: 600;
      color: #515151;
      padding-bottom: 25px; }
    .content .featuredProjects .featuredProjects__text {
      font-size: 1.7rem;
      line-height: 2.8rem;
      color: #8f8f8f; }
    .content .featuredProjects .featuredProjects__button {
      text-align: right;
      padding: 30px 0; }
      .content .featuredProjects .featuredProjects__button a {
        text-align: center;
        display: inline-block;
        background-color: #ffffff;
        border: 1px solid rgba(81, 81, 81, 0.4);
        border-radius: 10px;
        padding: 20px 25px;
        color: rgba(81, 81, 81, 0.7);
        font-weight: 600;
        font-size: 1.5rem; }
        .content .featuredProjects .featuredProjects__button a:hover {
          background: #515151;
          color: #fff; }
    .content .featuredProjects .featuredProjects__cards {
      display: flex;
      padding: 0 15px;
      justify-content: space-between;
      margin: 0 -10px;
      flex-wrap: wrap; }
    .content .featuredProjects .cards__card {
      padding: 0 7.5px 15px;
      display: flex; }
    .content .featuredProjects .card__body {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 300px; }
    .content .featuredProjects .card__imgWrap {
      max-height: 226px;
      position: relative;
      border-radius: 10px 0 0 0;
      overflow: hidden; }
      .content .featuredProjects .card__imgWrap .card__new {
        width: 0;
        height: 0;
        font-family: Montserrat, sans-serif;
        font-size: 1.4rem;
        color: #ffffff;
        text-transform: uppercase;
        position: absolute;
        left: -35px;
        top: -12px;
        border-right: 50px solid transparent;
        border-left: 53px solid transparent;
        border-bottom: 53px solid #add136;
        transform: rotate(-46deg);
        z-index: 10;
        font-weight: 600; }
        .content .featuredProjects .card__imgWrap .card__new span {
          text-align: center;
          top: 28px;
          left: -21.5px;
          position: relative;
          width: 74px;
          height: 74px; }
      .content .featuredProjects .card__imgWrap .card__img {
        border-radius: 10px 10px 0 0;
        width: 300px;
        min-height: 226px;
        transition: 0.3s ease 0s; }
        .content .featuredProjects .card__imgWrap .card__img:hover {
          opacity: 0.85; }
      .content .featuredProjects .card__imgWrap .card__button {
        position: absolute;
        z-index: 10;
        right: 15px;
        bottom: 18px; }
        .content .featuredProjects .card__imgWrap .card__button .card__buttonLink {
          display: block;
          font-size: 1.6rem;
          color: #fff;
          padding: 9px 9px;
          background-color: #26a6d1;
          border-radius: 10px; }
          .content .featuredProjects .card__imgWrap .card__button .card__buttonLink:hover {
            background: #515151; }
          .content .featuredProjects .card__imgWrap .card__button .card__buttonLink span {
            text-transform: uppercase;
            font-weight: 700; }
    .content .featuredProjects .card__content {
      flex: 1 0 auto;
      display: flex;
      flex-direction: column;
      background: #fafafa;
      padding: 29px 24px 0 22px;
      border-right: 1px solid #e2e2e2;
      border-left: 1px solid #e2e2e2;
      border-bottom: 1px solid #e2e2e2;
      border-radius: 0 0 10px 10px; }
    .content .featuredProjects .card__titleLink {
      display: block;
      font-size: 1.7rem;
      line-height: 135.29412%;
      font-weight: 700;
      color: #484848;
      padding-bottom: 10px; }
      .content .featuredProjects .card__titleLink:hover {
        color: #26a6d1; }
      .content .featuredProjects .card__titleLink span {
        text-transform: uppercase; }
    .content .featuredProjects .card__text {
      flex: 1 1 auto;
      opacity: 0.9;
      color: #484848;
      line-height: 1.8;
      padding-bottom: 15px; }
    .content .featuredProjects .progress-bar {
      overflow: hidden;
      background-color: #e3e3e3;
      height: 14px;
      width: 100%;
      margin-bottom: 20px;
      border-radius: 25px; }
      .content .featuredProjects .progress-bar span {
        display: inline-block;
        height: 14px;
        width: 0;
        border-radius: 25px;
        transition: width .4s ease-in-out;
        background-color: #add136; }
      .content .featuredProjects .progress-bar ._width10 {
        width: 10%; }
      .content .featuredProjects .progress-bar ._width60 {
        width: 60%; }
      .content .featuredProjects .progress-bar ._width20 {
        width: 20%; }
    .content .featuredProjects .card__scaleInfo {
      display: flex;
      justify-content: space-between;
      font-weight: 600;
      color: #8d8d8d;
      padding-bottom: 20px;
      border-bottom: 1px solid #d6d6d6; }
    .content .featuredProjects .card__projectLink {
      text-align: right;
      padding: 26px 0 24px 0; }
      .content .featuredProjects .card__projectLink a {
        display: block;
        opacity: 0.85;
        font-size: 1.5rem;
        font-weight: 600;
        color: #484848;
        padding-right: 28px;
        position: relative; }
        .content .featuredProjects .card__projectLink a:hover {
          color: #26a6d1; }
        .content .featuredProjects .card__projectLink a:before {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          right: 4px;
          top: 4px;
          border-right: 8px solid transparent;
          border-left: 8px solid transparent;
          border-bottom: 12px solid #add136;
          transform: rotate(90deg); }
  @media (max-width: 992px) {
    .content .featuredProjects .featuredProjects__cards {
      flex: 0 1 50%; }
    .content .featuredProjects .cards__card {
      margin: 0 auto; } }
  @media (max-width: 767px) {
    .content .featuredProjects .featuredProjects__header {
      flex-wrap: wrap; }
    .content .featuredProjects .featuredProjects__titleWrap {
      text-align: center;
      flex-basis: 100%;
      padding-bottom: 0; }
    .content .featuredProjects .featuredProjects__buttonWrap {
      flex-basis: 100%; }
    .content .featuredProjects .featuredProjects__button {
      text-align: center;
      padding: 25px 0 60px 0; } }
  @media (max-width: 480px) {
    .content .featuredProjects {
      margin-bottom: -150px; }
      .content .featuredProjects .featuredProjects__cards {
        padding: 0;
        margin: 0;
        flex: 0 1 100%; }
      .content .featuredProjects .cards__card {
        padding: 0 0 15px 0; } }
  .content .community .community__body {
    padding: 190px 15px 0 15px;
    min-height: 670px;
    background: #fff url("/img/bg.jpg") no-repeat center/cover; }
  .content .community ._container {
    max-width: 950px; }
  .content .community .community__bePart {
    text-align: center;
    margin-bottom: 80px; }
  .content .community .community__title {
    font-size: 3.9rem;
    line-height: 1.4;
    font-weight: 600;
    color: #9ec02d;
    margin-bottom: 30px; }
  .content .community .community__text {
    font-size: 1.9rem;
    line-height: 1.6;
    color: #949494; }
  .content .community .community__commentsRow {
    display: flex;
    padding-bottom: 60px;
    flex-wrap: wrap;
    margin: 0 -7.5px 45px; }
  .content .community .comments .comments__comment {
    padding: 0 7.5px 20px;
    flex: 0 0 50%;
    display: flex; }
    .content .community .comments .comments__comment .comments__wrap {
      max-width: 397px;
      display: flex;
      flex-direction: column;
      margin: 0 auto; }
    .content .community .comments .comments__comment .comments__body {
      flex: 1 1 auto;
      text-align: center;
      margin-bottom: 22px;
      max-width: 397px;
      min-height: 100px;
      background: #fff;
      padding: 20px 36px;
      border-radius: 10px;
      position: relative; }
      .content .community .comments .comments__comment .comments__body:after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        left: 88px;
        bottom: -8px;
        border-right: 16px solid transparent;
        border-left: 16px solid transparent;
        border-bottom: 17px solid #fff;
        transform: rotate(90deg); }
    .content .community .comments .comments__comment .comments__title {
      font-size: 2.1rem;
      line-height: 1.4;
      font-weight: 600;
      color: #9ec02d; }
    .content .community .comments .comments__comment .comments__text {
      padding: 10px 0 0 0;
      line-height: 1.4;
      color: #848484; }
    .content .community .comments .comments__comment .comments__author {
      padding-top: 8px;
      display: flex;
      max-width: 397px; }
    .content .community .comments .comments__comment .comments__img {
      width: 60px;
      height: 60px;
      margin: 0 0 0 60px; }
    .content .community .comments .comments__comment .comments__name {
      width: 100%;
      padding: 21px 0 0 16px;
      font-family: Montserrat, sans-serif;
      font-size: 1.5rem;
      color: #494949;
      font-weight: 600; }
  @media (max-width: 767px) {
    .content .community .community__commentsRow {
      padding-bottom: 30px; }
    .content .community .community__title {
      font-size: 2.9rem; }
    .content .community .community__text {
      font-size: 1.7rem; }
    .content .community .comments .comments__comment {
      padding-bottom: 35px;
      flex-basis: 100%; } }
  .content .campaigns .campaigns__row {
    margin: -25px -10px 40px -10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .content .campaigns .campaigns__row img {
      max-width: 100%;
      max-height: 37px;
      padding: 0 25px 0;
      margin-top: 25px; }

.footer {
  border-top: 1px solid #ededed; }
  .footer .footer__body {
    min-height: 64px; }
    .footer .footer__body .footer__copyright {
      color: #848484;
      padding: 27px 10px 25px;
      text-align: center; }
